.chatMenuSearch {
    width: 90%;
    padding: 10px 0;
    border: none;
    border-bottom: 1px solid gray;
}


.chatMenuWrapper {
    padding: 10px;
    height: 100%;
}

.chatMenuSearch:focus {
    border: none;
}